include about-data

section.about
    .container
        h2.about__title.section__title О нас
        ul.about__list
            each item in about
                li.about__item
                    .about__wrapper
                        h3.about__heading= item.heading
                        p.about__text= item.text