-
  const reviews = [
    {
      name: 'Кирилл Агапьев',
      avatarPath: `${contentImagePath}review-1.jpg`,
      count: 'Купил 35 книг',
      text: 'Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так плюс к этому ещё и постоянные большие скидки!',
    },
    {
      name: 'Елизавета Марьина',
      avatarPath: `${contentImagePath}review-2.jpg`,
      count: 'Купила 76 книг',
      text: 'Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят без задержек',
    },
    {
      name: 'Полина Аленичева',
      avatarPath: `${contentImagePath}review-3.jpg`,
      count: 'Купила 35 книг',
      text: 'Удобный каталог, полезные отзывы на книги, так же есть видеообзоры на книги. Иногда можно приобрести дорогое издание за «символическую» цену.',
    },
  ] 