- 
    const book = {
        imagePath: `${contentImagePath}iron-king-head.jpg`,
        name: 'Фигурная абстракция',
        author: 'Чендлер Смит',
        rating: '3.8',
        countOfFeedback: '243',

    }