- 
  const newBooks = [
    {
      imagePath: `${contentImagePath}a-life-of-pleasure.jpg`,
      author: 'Фёрт А',
      name: 'Белый воротник',
      description: 'Автор собрал в книге все свои знания о мужском стиле. Как всегда выглядеть «‎с иголочки»',
      rating: '3.5',
      link: '#',
      pageCount: '208',
    },
    {
      imagePath: `${contentImagePath}book-kingdoms.jpg`,
      author: 'Рид Ч',
      name: 'Апельсиновый закат',
      description: 'История о небольшом японском городке, затерянном в лучах яркого солнца',
      rating: '4.8',
      link: '#',
      pageCount: '576',
    },
    {
      imagePath: `${contentImagePath}book-transhumanism.jpg`,
      author: 'Беляев И.',
      name: 'Море желаний',
      description: 'Книга учит мечтать и исполнять. Находите счастье в мелочах и делитесь им со всеми.',
      rating: '3.9',
      link: '#',
      pageCount: '608',
    },
    {
      imagePath: `${contentImagePath}book-feelings-of-shame.jpg`,
      author: 'Маунт П.',
      name: 'Веточка смородины',
      description: 'История подростковой любви и дружбы, знакомая каждому не понаслышке',
      rating: '4.1',
      link: '#',
      pageCount: '170',
    },
  ]