-
  const filtres = {
    categories: [
      {
        type: 'checkbox',
        name: 'fiction',
        caption: 'Художественная литература',
        checked: false,
      },
      {
        type: 'checkbox',
        name: 'for-children',
        caption: 'Образование',
        checked: 'true',
      },
      {
        type: 'checkbox',
        name: 'science-and-technology',
        caption: 'Наука и техника',
        checked: false,
      },
      {
        type: 'checkbox',
        name: 'society',
        caption: 'Общество',
        checked: false,
      },
      {
        type: 'checkbox',
        name: 'business-literature',
        caption: 'Деловая литература',
        checked: false,
      },
      {
        type: 'checkbox',
        name: 'hobby',
        caption: 'Увлечения',
        checked: false,
      },
      {
        type: 'checkbox',
        name: 'philosophy',
        caption: 'Психология',
        checked: false,
      },
      {
        type: 'checkbox',
        name: 'esoterics',
        caption: 'Эзотерика',
        checked: false,
      },
      {
        type: 'checkbox',
        name: 'philosophy',
        caption: 'Философия и религия',
        checked: false,
      },
      {
        type: 'checkbox',
        name: 'art',
        caption: 'Искусство',
        checked: false,
      }
    ],
    statuses: [
    {
      type: 'radio',
      name: 'bestsellers',
      setName: 'status',
      caption: 'Хиты продаж',
      checked: 'true',
    },    
    {
      type: 'radio',
      name: 'news-books',
      setName: 'status',
      caption: 'Новинки',
      checked: false,
    },    
    {
      type: 'radio',
      name: 'preorder',
      setName: 'status',
      caption: 'Предзаказ',
      checked: false,
    },    
  ],
    availabilitys: [
    {
      type: 'radio',
      name: 'in-the-shop',
      setName: 'availability',
      caption: 'В магазине',
      checked: 'true',
    },    
    {
      type: 'radio',
      name: 'in-the-internet-shop',
      setName: 'availability',
      caption: 'В интернет-магазине',
      checked: false,
    },    
    {
      type: 'radio',
      name: 'under-the-order',
      setName: 'availability',
      caption: 'Под заказ',
      checked: false,
    },     
  ],
  }
