include catalog-filter-data

.catalog-filter
    form.catalog-filter__form
        fieldset.catalog-filter__fieldset
            p.catalog-filter__legend Категория
                each filter in filtres.categories
                    .catalog-filter__box
                        input.catalog-filter__checkbox(type= filter.type id= filter.name name= filter.name checked= filter.checked)
                        label.catalog-filter__label(for= filter.name)= filter.caption  
        fieldset.catalog-filter__fieldset
            p.catalog-filter__legend Статус
                each filter in filtres.statuses
                    .catalog-filter__box.catalog-filter__box--radio
                        input.catalog-filter__radio(type= filter.type id= filter.name name= filter.name checked= filter.checked)
                        label.catalog-filter__label(for= filter.name)= filter.caption 
        fieldset.catalog-filter__fieldset
            p.catalog-filter__legend Наличие
                each filter in filtres.availabilitys
                    .catalog-filter__box.catalog-filter__box--radio
                        input.catalog-filter__radio(type= filter.type id= filter.name name= filter.name checked= filter.checked)
                        label.catalog-filter__label(for= filter.name)= filter.caption           