- 
  const bestBooks = [
    {
      imagePath: `${contentImagePath}books-anxious-people.jpg`,
      author: 'Боуи А',
      name: 'Чёрный воробей',
      description: 'Загадочный детектив с продуманным сюжетом и неожиданным финалом',
      rating: '5.0',
      link: '#',
      pageCount: '416',
    },
    {
      imagePath: `${contentImagePath}book-sapiens.jpg`,
      author: 'Агава Ю.',
      name: 'Путь к вершине',
      description: 'Путешествие длиною в жизнь. Как найти верный путь, если кажется, что все безнадёжно',
      rating: '4.9',
      link: '#',
      pageCount: '520',
    },
    {
      imagePath: `${contentImagePath}book-institute.jpg`,
      author: 'Холтер К.',
      name: 'Золотая арка',
      description: 'Мировой психологический бестселлер. Как найти себя в обществе',
      rating: '4.8',
      link: '#',
      pageCount: '608',
    },
    {
      imagePath: `${contentImagePath}book-normal-peoples.jpg`,
      author: 'Кеган О.',
      name: 'Элизабет',
      description: 'Реальная история сильной женщины покорившей весь мир своей харизмой',
      rating: '4.7',
      link: '#',
      pageCount: '288',
    },
    ]